* {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  background: #000;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.item {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

span {
  font-weight: 550;
}


.button-85 {
  left: 50px;
  top: 100px;
  width: 182px;
  height: 50px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #ffa200;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  border-radius: 0px;
  user-select: none;
  opacity: 0.75;
  box-shadow: 5px 5px 5px 5px #000000;
}

.button-85:hover {
  background: #e9af4a;
}

@media only screen and (min-width: 300px) {
  .containPopup {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 5%;
    left: -28%;
    scale: 70%;
    min-width: 875px;
    min-height: 342px;
    z-index: 1000;
  }
}

@media only screen and (min-width: 400px) {
  .containPopup {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 5%;
    left: -18%;
    scale: 70%;
    min-width: 875px;
    min-height: 342px;
    z-index: 1000;
  }
}

@media only screen and (min-width: 500px) {
  .containPopup {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 5%;
    left: -2%;
    scale: 70%;
    min-width: 875px;
    min-height: 342px;
    z-index: 1000;
  }
}

@media only screen and (min-width: 768px) {
  .containPopup {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 5%;
    left: 20%;
    min-width: 875px;
    min-height: 342px;
    z-index: 1000;
  }
}

@media only screen and (min-width: 1024px) {
  .containPopup {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 2%;
    left: 30%;
    min-width: 875px;
    min-height: 342px;
    z-index: 1000;
  }
}

.containPopup .popupBoder {
  width: 50%;
  height: 50%;
  opacity: 0.5;
}

.containPopup .popupAccept {
  cursor: pointer;
  position: absolute;
  top: 66%;
  left: 4%;
  width: 18%;
  height: 16%;
}

.containPopup .popupTryAgain {
  cursor: pointer;
  position: absolute;
  top: 66%;
  left: 28%;
  width: 18%;
  height: 16%;
}

.containPopup .popupClose {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 48%;
  width: 8%;
  height: 19%;
}

h2 {
  font-family: open Arial;
  color: #fff;
  text-align: center;
  padding: 2%;
  opacity: 1;
  font-size: 152%;

}

h2:after {
  background: #ffa200;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: skew(-9deg);
  -moz-transform: skew(-9deg);
  -o-transform: skew(-9deg);
  z-index: -1;
  opacity: 1;
}

.navBar>img {
  position: fixed;
  height: 50%;
  right: 4%;
  top: 60%;
  z-index: 10000;
  height: 30%;
}

ul>li>img {
  padding: 20px;
}
.messengerBox>img {
  position: fixed;
  left: 4%;
  top: 80%;
  z-index: 10000;
  height: 8%;
}

li {
  /* position: absolute; */
  display: inline-block;
  margin: 0 2%;
  width: 16vw;
}

.buttonload {
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 12px 16px;
  /* Some padding */
  left: 50px;
  top: 100px;
  width: 182px;
  height: 50px;
  padding: 0.6em 2em;
  outline: none;
  color: rgb(255, 255, 255);
  background: #ffa200;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  border-radius: 0px;
  user-select: none;
  opacity: 0.75;
  box-shadow: 5px 5px 5px 5px #000000;
}

.farmItem {
  position: fixed;
  left: 50%;
  z-index: 10000;
  height: 80px;
  width: 70%;
  background-color: white;
  transform: translateX(-50%);
  bottom: 44px;
}

.imgItem {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  width: 70px;
  height: 40px;
}

.top-right {
  position: absolute;
  top: -7px;
  right: 0px;
}