* {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  background: #000;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.item {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

span {
  font-weight: 550;
}


/* CSS */
.button-85 {
  left: 50px;
  top: 100px;
  width: 182px;
  height: 50px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #ffa200;
  /* transform: skew(-20deg); */
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  border-radius: 0px;
  user-select: none;
  opacity: 0.75;
  box-shadow: 5px 5px 5px 5px #000000;
}

.button-85:hover {
  background: #e9af4a;
}

.containPopup {
  position: absolute;
  left: 2%;
  top: 20%;
  z-index: 1000;
}

.containPopup .popupBoder {
  width: 50%;
  height: 50%;
  opacity: 0.5;
}

.containPopup .popupAccept {
  cursor: pointer;
  position: absolute;
  top: 66%;
  left: 4%;
  width: 16%;
  height: 16%;
}

.containPopup .popupTryAgain {
  cursor: pointer;
  position: absolute;
  top: 66%;
  left: 28%;
  width: 16%;
  height: 16%;
}

.containPopup .popupClose {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 48%;
  width: 8%;
  height: 19%;
}

h2 {
  font-family: open Arial;
  color: #fff;
  text-align: center;
  line-height: 330%;
  opacity: 1;
}

h2:after {
  background: #ffa200;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: skew(-9deg);
  -moz-transform: skew(-9deg);
  -o-transform: skew(-9deg);
  z-index: -1;
  opacity: 1;
}

.navBar > img{
  position: fixed;
  height: 50%;
  right: 4%;
  top: 60%;
  z-index: 10000;
  height: 30%;
}

.messengerBox > img {
  position: fixed;
  left: 4%;
  top: 80%;
  z-index: 10000;
  height: 8%;
}

li {
  /* position: absolute; */
  display: inline-block;
  margin: 0 2%;
  width: 16vw;
}
