* {
  margin: 0;
  padding: 0;
}

.leaflet-container {
  background: #000;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.item {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
}

span {
  font-weight: 550;
}


/* CSS */
.button-85 {
  left: 50px;
  top: 100px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.containPopup {
  position: absolute;
  left: 2%;
  top: 20%;
  z-index: 1000;
}

.containPopup .popupBoder {
  width: 50%;
  height: 50%;
  opacity: 0.5;
}

.containPopup .popupAccept {
  cursor: pointer;
  position: absolute;
  top: 62%;
  left: 15%;
  width: 20%;
  height: 20%;
}

.containPopup .popupClose {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 48%;
  width: 8%;
  height: 19%;
}