/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/**
 * Custom base styles
 */

* {
  /* Text rendering */
  text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

* :focus {
  outline: none !important;
}

html {
  font-size: 62.5%;
  font-family: 'Inter var', Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: #121212;
}

body {
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  font-feature-settings: "salt";
}

html, body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

html, body {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  min-height: 100%;
  width: 100%;
  flex: 1 1 auto;
}

#root {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

h1, .h1 {
  font-size: 24px;
}

h2, .h2 {
  font-size: 20px;
}

h3, .h3 {
  font-size: 16px;
}

h4, .h4 {
  font-size: 15px;
}

h5, .h5 {
  font-size: 13px;
}

h6, .h6 {
  font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
  z-index: 99;
}

a[role=button] {
  text-decoration: none;
}

[role="tooltip"] {
  z-index: 9999;
}

/* Medium Devices, Desktops Only */
@media only screen and (min-width: 992px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.06);
  }

  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:active {
    border-radius: 20px;
  }
}

form label {
  z-index: 99;
}

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
  transition: none !important;
  animation: none !important;
}

button:focus {
  outline: none;
}

/* Removes webkit's autofill backgorund color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  transitionDelay: 9999s;
  transitionProperty: background-color, color;
}

:focus {
  outline-color: transparent;
}

/*fullcalendar Fix*/
.fc-scrollgrid-section-liquid {
  height: 1px !important;
}

.max-w-none {
  max-width: none;
}
.max-w-xs {
  max-width: 20rem; /* 320px */
}
.max-w-sm {
  max-width: 24rem; /* 384px */
}
.max-w-md {
  max-width: 28rem; /* 448px */
}
.max-w-lg {
  max-width: 32rem; /* 512px */
}
.max-w-xl {
  max-width: 36rem; /* 576px */
}
.max-w-2xl {
  max-width: 42rem; /* 672px */
}
.max-w-3xl {
  max-width: 48rem; /* 768px */
}
.max-w-4xl {
  max-width: 56rem; /* 896px */
}
.max-w-5xl {
  max-width: 64rem; /* 1024px */
}
.max-w-6xl {
  max-width: 72rem; /* 1152px */
}
.max-w-7xl {
  max-width: 80rem; /* 1280px */
}
.max-w-full {
  max-width: 100%;
}
.max-w-min {
  max-width: min-content;
}
.max-w-max {
  max-width: max-content;
}
.max-w-fit {
  max-width: fit-content;
}
.max-w-prose {
  max-width: 65ch;
}
.max-w-screen-sm {
  max-width: 640px;
}
.max-w-screen-md {
  max-width: 768px;
}
.max-w-screen-lg {
  max-width: 1024px;
}
.max-w-screen-xl {
  max-width: 1280px;
}
.max-w-screen-2xl {
  max-width: 1536px;
}
.break-all {
  word-break: break-all;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.black-bg {
  background-color: #000000 !important;
}

.sm\:max-w-256 {
  max-width: 25.6rem;
}

.ml-auto {
  margin-left: auto;
}

.bg-opacity-0 {
  --tw-bg-opacity: 0;
}
.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}
.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}
.bg-opacity-20 {
  --tw-bg-opacity: 0.2;
}
.bg-opacity-25 {
  --tw-bg-opacity: 0.25;
}
.bg-opacity-30 {
  --tw-bg-opacity: 0.3;
}
.bg-opacity-40 {
  --tw-bg-opacity: 0.4;
}
.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}
.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}
.bg-opacity-70 {
  --tw-bg-opacity: 0.7;
}
.bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}
.bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}
.bg-opacity-90 {
  --tw-bg-opacity: 0.9;
}
.bg-opacity-95 {
  --tw-bg-opacity: 0.95;
}
.bg-opacity-100 {
  --tw-bg-opacity: 1;
}
.clear-both {
  clear: both;
}
.border-error {
  border: 1px solid #f44336;
}
